*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}

main{
    width: 100%;
    height: 100%;
    background-color: #ede4d7;
}

@font-face {
    font-family:thin ;
    src: url(./fonts/GeneralSans-Extralight.otf);
}

/* NAV-BAR START*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
   
}
#dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: orangered;
    position: absolute;
    left: 115px;
    bottom: 8px;
    
}

.navgrp1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 500px;
    gap: 50px;
    font-size: 0.8em;
  font-family: thin;
  font-weight: 900;
  letter-spacing: 1px;
}
.navgrp2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
      font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
      font-weight: 100;
}
/* NAV-BAR END */


/* MAIN WORK infos,jacket-img,Size START */

header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#start{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
    
}

.inner1 h5{
    color: orange;
      
        font-size: 1em;
        
}


.inner1 h1{
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 3em;
}
#ii{
color: orange;
}
.inner1{
    display: flex;
 justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
}
.inner1 h4{
    font-family: thin;
    font-size: 2em;
    font-family: 800;
}
.inner1 h3{
font-family: thin;
}

.discrip{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.discrip h3{
font-size: 0.8em;
}
.discrip p{
font-size: 0.8em;
}


#bli{
    color: orange;
}

#material{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(188, 188, 188);
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}
#material h3{
font-size: 1em;
}
#material1{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgb(188, 188, 188);
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none; */
}
#material1 h3{
font-size: 1em;
}
#middle{
    /* background-color: lightblue; */
     width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
#middle img{
    width: 170%;
    height: 80%;
    transition: all ease-in-out 1s;
    position: absolute;
    top: 10px;
}

#end{
/* background-color: blue; */
     width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
    text-align: center;
}

#minibox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.boxx{
    background-color: rgb(226, 219, 219);
    padding: 20px;
    border-radius: 10px;
}
.boxx:nth-child(2){
background-color: orange;
color: white;
}

#end h3{
    font-family: thin;
    font-size: 1em;
    border: 1px solid rgb(178, 178, 178);
    padding: 10px;
    border-left: none;
    border-right: none;
    border-top: none;
}

#imgbox{
    transform: translate(80px,0px);
    width: 60%;
    /* background-color: aqua;  */
    padding: 20px;

    display: flex;
    flex-wrap: wrap;

    gap: 20px;

    justify-content: center;
    align-items: center;
}

.boxxxx{
    width: 45%;
   
}

.boxxxx img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#add{
    width: 70%;
    /* background-color: crimson; */

}
#blah{
    transform: translate(55px,0px);
    display: flex;
    justify-content:center;
gap: 30px;
    align-items: center;
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
}

#add1{
    width: 70%;
    /* background-color: crimson; */

}
#blah1{
    margin-top: 10px;
    transform: translate(55px,0px);
    display: flex;
    justify-content:center;
gap: 30px;
    align-items: center;
    background-color: orange;

    border-radius: 20px;
    padding: 10px;
    font-family: thin;
    color: white;
}


.section{
    width: 100%;
    height: 100%;
    background-color: crimson;
}







